.custom-checkbox {
    width: 450px;
    position: relative;
    margin: 0 0 16px;
}

.custom-checkbox--personal-data {
    margin: 0;
    grid-row: 2 / 3;
}

.custom-checkbox--personal-data .custom-checkbox__label {
    padding: 0 22px 0 52px;
    background-color: transparent;
}

.custom-checkbox__field:checked + .custom-checkbox__label .custom-checkbox__icon {
    display: block;
}

.custom-checkbox__field:checked + .custom-checkbox__label::before {
    background-color: #259DD6;
    border: none;
}

.custom-checkbox__label {
    width: 100%;
    background-color: #EBF5FB;
    color: #343033;
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
    padding: 16px 22px 16px 52px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    user-select: none;
    cursor: pointer;
}

.custom-checkbox__label::before {
    width: 20px;
    height: 20px;
    border: 2px solid #C7CED3;
    border-radius: 4px;
    content: "";
    position: absolute;
    left: 20px;
    top: 16px;
}

.custom-checkbox--personal-data .custom-checkbox__label::before {
    top: 0;
}


.custom-checkbox__label-text {
    width: 260px;
    display: block;
}

.custom-checkbox__link {
    color: #239DD6;
    text-decoration: underline;
}

.custom-checkbox__link:hover {
    color: #9D1881;
}

.custom-checkbox__link-icon {
    color: #259DD6;
}

.custom-checkbox__link-icon:hover {
    color: #9D1881;
}

.custom-checkbox__icon {
    position: absolute;
    left: 24px;
    top: 20px;
    color: #ffffff;
    display: none;
}

.custom-checkbox--personal-data .custom-checkbox__icon {
    top: 4px;
}

.custom-checkbox__label-personal-data {
    margin: 0;
    color: #343033;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
}

.custom-checkbox--error .custom-checkbox__label::before {
    border: 2px solid #D72522;
}