.hero {
  overflow: hidden;
  margin: 0 0 40px 0;

  &__wrapper {
    padding: 28px 0 40px;
    min-height: calc(100vh - 92px);
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: $color-blue;
    margin: 0 0 60px 0;
  }

  &__title-bottom {
    padding: 0 0 0 91px;
  }

  &__intro {
    margin: 0 0 23px 0;
    position: relative;
    padding: 0 0 243px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    margin: 0;

    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
  }

  &__circle-text {
    display: flex;
    position: absolute;
    bottom: 0;
    right: -59px;

    @media (max-width: 1200px) {
      animation: logoRotate 8s linear infinite;
    }
  }

  &__mouse-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: auto auto 0;
  }

  &__icon-mouse-circle {

    @media (max-width: 1200px) {
      animation: circleMouseSlideInDown 1s linear infinite;
    }
  }
}

