.custom-input {

    width: 330px;
    position: relative;

    @include vp-768 {
        width: 728px;
    }

    @include vp-1024 {
        width: 680px;
    }



    &__field {
        border: 1px solid $color-periwinkle;
        padding: 16px;
        width: 100%;
        border-radius: 8px;
        outline: none;

        @include vp-768 {
           padding: 18px; 
        }

        &:hover {
           border: 1px solid $color-manatee; 
        }

        &:focus-visible {
            border: 1px solid $color-royal-blue-1;
        }

    }

    &__button {
        width: 24px;
        height: 24px;
        padding: 0;
        border: none;
        background-color: transparent;
        position: absolute;
        top: 14px;
        color: $color-mischka;
        cursor: pointer;
        outline: none;

        @include vp-768 {
            top: 16px;
        }

        &:hover, 
        &:focus-visible {
            color: $color-royal-blue-1;     
        }

        &--close {
            right: 52px; 

            @include vp-768 {
                right: 60px;
            }
        }

        &--search {
            right: 16px;

            @include vp-768 {
                right: 20px;
            }
        }
    }
}