.search-result {

    margin: 0 0 65px 0;

    @include vp-768 {
        margin: 0 0 39px 0;
    }

    @include vp-1024 {
        margin: 0 0 58px 0;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {

        &:not(:last-child) {
            margin: 0 0 40px 0;

            @include vp-1024 {
                margin: 0 0 60px 0;
            }
        }
    }


}