.search {
    margin: 0 0 60px 0;

    @include vp-768 {
        margin: 0 0 80px 0;
    }

    @include vp-1024 {
        margin: 0 0 100px 0;
    }

    &__wrapper {
        max-width: 806px;
        margin: 0 auto;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 20px;

        margin: 0 0 60px 0;


        @include vp-1024 {
            margin: 0 0 80px 0;
        }
    }

    &__form {

        @include vp-1024 {
            display: flex;
            gap: 16px;
        }
    }

    &__form-btn {
        display: none;
        border: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $color-white;
        background-color: $color-royal-blue-1;
        border-radius: 8px;
        padding: 19px 32px;
        cursor: pointer;

        @include vp-1024 {
            display: block;
        }
    }

    &__popular-list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        gap: 8px;
        margin: 0;
    }



    &__popular-link {
        display: block;
        font-size: 12px;
        line-height: 14px;
        color: $color-black-russian;
        background-color: $color-lavander;
        padding: 12px 14px;
        border-radius: 8px;

        @include vp-768 {
            font-size: 13px;
            line-height: 16px;
        }
    }

    &__technology {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 13px;
        line-height: 16px;
        color: $color-black-russian;

        @include vp-768 {
            font-size: 14px;
            line-height: 18px;
        }
    }
}