.cards-tour {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 60px;
    padding: 0;
    gap: 20px;
}

.cards-tour__card--size-xl {
    grid-column: span 2;
}