.custom-textarea {
    width: 540px;
    height: 64px;
    position: relative;
}

.custom-textarea__field {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 16px 64px 16px 24px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
}

.custom-textarea__icon {
    color: #ffffff;
}

