.header {
  padding: 16px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo-link {
  display: flex;
}

.header__wrapper-link {
  padding: 6px;
  border: 1px solid #DBDFEC;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 132px 132px;
  align-items: center;
}

.header__inner-wrapper {
  display: flex;
  gap: 24px;
}

.header__btn {
  align-self: center;
  background-color: #ffffff;
}

.header__lang {
  background-color: #ffffff;
  border: 1px solid #DBDFEC;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px 22px;
  border-radius: 12px;
}

.header__lang-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #1E222E;
}