.hero {
  background-color: #F4F6FA;
  margin: 0 0 100px;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  column-gap: 180px;
}

.hero__content {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__heading {
  margin: 0 0 24px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
  font-weight: 700;
  color: #1E222E;
}

.hero__heading--partners {
  margin: 0 0 48px;
}

.hero__heading-highlight {
  color: #476BF0;
}

.hero__description {
  margin: 0 0 48px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: #1E222E;
}
