.card {
    width: 400px;
    height: 200px;
    background-color: red;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid #000000;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    &__number {
        font-size: 28px;
        color: #ffffff;
    }

    &__user {
        font-size: 22px;
        color: #ffffff;
    }
}