.custom-input {
    width: 360px;

    &__field {
        border: 1px solid #cccccc;
        border-radius: 8px;
        padding: 12px;
        font-family: inherit;
        width: 100%;
    }

    &__label {
        font-size: 18px;
    }
}