.container {
    max-width: 944px;
    padding: 0 40px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

.gallery__inner {
    background-color: #5a5a5a;
}

.gallery__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    column-gap: 20px;
    margin: 0 0 40px;
}

.gallery__image-zoom {
    min-height: 400px;
    padding: 20px 0;
}