.custom-checkbox {
    grid-column: span 2;
    min-width: 708px;
    position: relative;
}

.custom-checkbox__field:checked + .custom-checkbox__label .custom-checkbox__tick {
    display: block;
  }

.custom-checkbox__field:checked + .custom-checkbox__label::before {
    border-color: #1919EF;
  }

.custom-checkbox__label {
    cursor: pointer;
    padding: 0 0 0 40px;
    position: relative;
    display: flex;
    width: 100%;
    user-select: none;
}

.custom-checkbox__heading {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
}

.custom-checkbox__label::before {
    width: 20px;
    height: 20px;
    border: 1px solid #ACB5BD;
    border-radius: 4px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.custom-checkbox__tick {
    display: none;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-checkbox--personal-data .custom-checkbox__heading {
    font-size: 12px;
    line-height: 1.2;
    color: #9B9B9B;
    padding-top: 3px;
    padding-bottom: 3px;
}

.custom-checkbox__link {
    font-size: 12px;
    line-height: 1.2;
    color: #9B9B9B;
    text-decoration: underline;
}
