.section-next {
  padding: 125px 0 118px;
  position: relative;

  @include vp-767 {
    padding: 160px 0 141px;
  }

  &__link {

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgb(0, 0, 0, 0.3);
      z-index: 0;
      opacity: 0;
      transition: opacity $transition-300;
    }

    &:hover {
      &::after {
        opacity: 1;
      }

      .section-next__icon {
        animation: arrowToRight 0.6s ease-in-out infinite alternate;
      }
    }
  }

  &__name {
    font-family: $ff-secondary;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 0 15px 0;
    color: $color-white;
    z-index: 1;

    @include vp-767 {
      font-size: 14px;
      margin: 0 0 10px 0;
    }
  }

  &__title {
    font-family: $ff-secondary;
    color: $color-ottoman;
    font-size: 58px;
    line-height: 1.1;
    margin: 0 0 35px 0;
    font-weight: 400;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    z-index: 1;

    @include vp-767 {
      font-size: 30px;
      margin: 0 0 15px 0;
      color: $color-white;
    }
  }

  &__icon {
    height: 27px;
    width: 182px;
    z-index: 1;
    transform: translateX(0);
    transition: transform $transition-300;

    @include vp-767 {
      height: 25px;
      width: 130px;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__decor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;

    @include vp-767 {
      display: none;
    }

    &--mobile {
      display: none;

      @include vp-767 {
        display: flex;
      }
    }
  }
}

@keyframes arrowToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5%);
  }
}