.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  background-color: $color-royal-blue-1;
  color: $color-white;
  text-align: center;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}
