.link {
  align-items: center;
  color: $color-black-russian;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  gap: 4px;
  line-height: 18px;
  transition: color $transition-300;
  outline: none;

  &:hover,
  &:focus-visible {
    color: $color-summer-sky;
  }

  &--xs {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: $color-summer-sky;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;

    &:hover,
    &:focus-visible {
      color: $color-dark-purple;
    }
  }

  &--s {
    color: $color-summer-sky;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;

    &:hover,
    &:focus-visible {
      color: $color-dark-purple;
    }
  }

  &--m {
    font-size: 13px;
    line-height: 16px;
    color: $color-royal-blue-1;

    &:hover,
    &:focus-visible {
      color: $color-royal-blue-2;
    }
  }

  &--xl {
    font-size: 20px;
    line-height: 28px;

    &:hover,
    &:focus-visible {
      color: $color-royal-blue-1;
    }
  }
}
