.privilege {

    margin: 0 0 60px 0;
    overflow: hidden;

    @include vp-768 {
        margin: 0 0 76px 0;
    }

    @include vp-1024 {
        margin: 0 0 68px 0;
    }

    @include vp-1304 {
        margin: 0 0 57px 0;
    }

    &__inner {

        @include vp-1024 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include vp-1304 {
            margin: 0 0 20px 0;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: $color-black-russian;
        margin: 0 0 16px 0;
        position: relative;

        &::after {
            background: $color-royal-blue-1;
            content: "";
            position: absolute;
            height: 2px;
            width: 100vw;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, 0);
        }

        @include vp-768 {
            font-size: 28px;
            line-height: 32px;
        }

        @include vp-1024 {
            font-size: 40px;
            line-height: 44px;
            margin: 0 0 20px 0;
            text-align: center;
            width: 736px;
            background-color: $color-white;
        }
    }

    &__note {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0;
        color: $color-storm-grey-1;
        margin: 0 0 28px 0;
        display: block;

        @include vp-768 {
            margin: 0 0 32px 0;
        }

        @include vp-1024 {
            font-size: 18px;
            line-height: 24px;
            margin: 0 0 60px 0;
            text-align: center;
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;

        @include vp-768 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 13px;
        }

        @include vp-1024 {
            gap: 25px;
        }

        @include vp-1304 {
            row-gap: 0;
        }
    }

}